.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cointainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.cointainer input {
  margin: 20px 0;
  border: 1px solid cornflowerblue;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
}
.cointainer input:hover {
  border: 1px solid blue;
}
.cointainer button {
  margin-top: 10px;
  padding: 10px;
  background-color: cornflowerblue;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.cointainer button:hover {
  background-color: blue;
}

.buttonDeleted {
  background-color: red;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.2s linear;
}
.buttonDeleted:hover {
  background-color: crimson;
}

.inputDeleted {
  margin: 20px 0;
  border: 1px solid red;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
}

.inputDeleted:hover {
  border: 1px solid crimson;
}
